*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
li,
ul,
a,
img {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-family-paragraph;
    background-color: $color-bg-primary;
}